brads_badass_canary/templates/logic-app-deployment-tpl.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "subscription_id": {
            "defaultValue": "NO SUBSCRIPTION SET",
            "type": "string"
        },
        "resource_group": {
            "defaultValue": "NO RESOURCE GROUP SET",
            "type": "string"
        },
        "workflows_notification_app_name": {
            "defaultValue": "APP WITH NO NAME",
            "type": "string"
        }
    },
    "variables": {
        "resource_group_base": "[concat('/subscriptions/', parameters('subscription_id'), '/resourceGroups/', parameters('resource_group')]",
        "connections_sms_service_externalid": "[concat(variables('resource_group_base'), '/providers/Microsoft.Web/connections/sms-service')]",
        "connections_office365_service_externalid": "[concat(variables('resource_group_base'), '/providers/Microsoft.Web/connections/office365-service')]",
        "connections_teams_service_externalid": "[concat(variables('resource_group_base'), '/providers/Microsoft.Web/connections/teams-service')]",
        "connections_sms_service_id": "[concat(variables('resource_group_base'), '/providers/Microsoft.Web/locations/centralus/managedApis/azurecommunicationservicessms')]",
        "connections_office365_service_id": "[concat(variables('resource_group_base'), '/providers/Microsoft.Web/locations/centralus/managedApis/office365')]",
        "connections_teams_service_id": "[concat(variables('resource_group_base'), '/providers/Microsoft.Web/locations/centralus/managedApis/teams')]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_notification_app_name')]",
            "location": "centralus",
            "properties":{
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition_2": {
                            "actions": {
                                "Send_SMS_2": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "from": "+18443253976",
                                            "message": "@variables('Message')",
                                            "sendSmsOptions": {
                                                "enableDeliveryReport": false
                                            },
                                            "to":[
                                                "+15204401252"
                                            ]
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurecommunicationservicessms']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/sms"
                                    }
                                }
                            },
                            "runAfter": {
                                "Default_SendSms_Disabled": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "or": [
                                    {
                                        "equals": [
                                            "@variables('SendSms')",
                                            true
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_Message": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Message",
                                        "type": "string",
                                        "value": "@triggerBody()?['message']"
                                    }
                                ]
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Default_SendSms_Disabled": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{variables('Message')}<br>\n</p>",
                                    "Subject": "Event was triggered",
                                    "To": "leo.przybylski@optum.com"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Default_SendSms_Disabled": {
                            "runAfter": {
                                "Initialize_Message": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SendSms",
                                        "type": "boolean", 
                                        "value": false
                                    }
                                ]
                            }
                        },
                        "Update_Pluto_Notifications_Channel": {
                            "runAfter": {
                                "Default_SendSms_Disabled": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": {
                                        "content": "<p>@{variables('Message')}</p>",
                                        "contentType": "html"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$conneections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v3/beta/teams/@{encodeURIComponent('b6ce1a32-ad9a-45e2-a1af-36c6bcd95b9d')}/channels/@{encodeURIComponent('1929cbad13274a4f8488b0687999d07660@thread.tacv2')}/messages"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurecommunicationservicessms": {
                                "connectionId": "[variables('connections_sms_service_externalid')]",
                                "connectionName": "azurecommunicationservicessms",
                                "id": "[variables('connections_sms_service_id')]"
                            },
                            "office365": {
                                "connectionId": "[variables('connections_office365_service_externalid')]",
                                "connectionName": "office365",
                                "id": "[variables('connections_office365_service_id')]"
                            },
                            "teams": {
                                "connectionId": "[variables('connections_teams_service_externalid')]",
                                "connectionName": "teams",
                                "id": "[variables('connections_teams_service_id')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}