brads_badass_canary/templates/logic-app-deployment-tpl.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "subscription_id": {
            "defaultValue": "NO SUBSCRIPTION SET",
            "type": "string"
        },
        "resource_group": {
            "defaultValue": "NO RESOURCE GROUP SET",
            "type": "string"
        },
        "connection_resource_group": {
            "defaultValue": "[parameters('resource_group')]",
            "type": "string"
        },
        "workflows_notification_app_name": {
            "defaultValue": "APP WITH NO NAME",
            "type": "string"
        },
        "connections_sms_service_externalid": {
            "defaultValue": "[resourceId('Microsoft.Web/connections', 'sms-service')]",
            "type": "string"
        },
        "connections_office365_service_externalid": {
            "defaultValue": "[resourceId('Microsoft.Web/connections', 'office365-service')]",
            "type": "string"
        },
        "connections_teams_service_externalid": {
            "defaultValue": "[resourceId('Microsoft.Web/connections', 'teams-service')]",
            "type": "string"
        },
        "teams_connector_override": {
            "defaultValue": "[parameters('connections_teams_service_externalid')]",
            "type": "string"
        },
        "office365_connector_override": {
            "defaultValue": "[parameters('connections_office365_service_externalid')]",
            "type": "string"
        },
        "sms_connector_override": {
            "defaultValue": "[parameters('connections_sms_service_externalid')]",
            "type": "string"
        }
    },
    "variables": {
        "subscription_base": "[concat('/subscriptions/', parameters('subscription_id'))]",
        "resource_group_base": "[concat(variables('subscription_base'), '/resourceGroups/', parameters('connection_resource_group'))]",
        "connections_sms_service_externalid": "[parameters('sms_connector_override')]",
        "connections_office365_service_externalid": "[parameters('office365_connector_override')]",
        "connections_teams_service_externalid": "[parameters('teams_connector_override')]",
        "connections_sms_service_id": "[concat(variables('subscription_base'), '/providers/Microsoft.Web/locations/centralus/managedApis/azurecommunicationservicessms')]",
        "connections_office365_service_id": "[concat(variables('subscription_base'), '/providers/Microsoft.Web/locations/centralus/managedApis/office365')]",
        "connections_teams_service_id": "[concat(variables('subscription_base'), '/providers/Microsoft.Web/locations/centralus/managedApis/teams')]"
    },
    "outputs": {
        "accessEndpoint": {
            "type": "object",
            "value": "[listCallbackURL(resourceId('Microsoft.Logic/workflows/triggers', parameters('workflows_notification_app_name'), 'manual'), '2016-06-01')]"
        },
        "resource_group_base": {
            "value": "[variables('resource_group_base')]",
            "type": "string"
        },
        "connections_sms_service_id": {
            "value": "[variables('connections_sms_service_id')]",
            "type": "string"
        },
        "connections_sms_service_externalid": {
            "value": "[variables('connections_sms_service_externalid')]",
            "type": "string"
        }
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_notification_app_name)]",
            "location": "centralus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Switch": {
                                    "cases": {
                                        "Case": {
                                            "actions": {
                                                "Set_variable_onUpdate": {
                                                    "inputs": {
                                                        "name": "Message",
                                                        "value": "Pull Request <a href=\"@{triggerBody()?['pull_request']?['html_url']}\">@{triggerBody()?['pull_request']?['title']}</a> was updated"
                                                    },
                                                    "runAfter": {},
                                                    "type": "SetVariable"
                                                }
                                            },
                                            "case": "synchronize"
                                        },
                                        "Case_2": {
                                            "actions": {
                                                "Set_variable_onSubmitted": {
                                                    "inputs": {
                                                        "name": "Message",
                                                        "value": "<a href=\"@{triggerBody()?['review']?['user']?['html_url']}\">@{triggerBody()?['review']?['user']?['login']}</a> submitted a new review for pull request <a href=\"@{triggerBody()?['review']?['html_url']}\">@{triggerBody()?['pull_request']?['title']}</a>"
                                                    },
                                                    "runAfter": {},
                                                    "type": "SetVariable"
                                                }
                                            },
                                            "case": "submitted"
                                        },
                                        "Case_3": {
                                            "actions": {
                                                "Condition_3": {
                                                    "actions": {
                                                        "Set_variable": {
                                                            "inputs": {
                                                                "name": "Message",
                                                                "value": "@{triggerBody()?['pull_request']?['id']} <a href=\"@{triggerBody()?['comment']?['user']?['html_url']}\">@{triggerBody()?['comment']?['user']?['login']}</a> left a comment for pull request <a href=\"@{triggerBody()?['issue']?['html_url']}\">@{triggerBody()?['issue']?['html_url']}</a><br/><blockquote><a href=\"@{triggerBody()?['comment']?['html_url']}\">@{triggerBody()?['comment']?['body']}</a></blockquote>"
                                                            },
                                                            "runAfter": {},
                                                            "type": "SetVariable"
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "not": {
                                                                    "equals": [
                                                                        "@triggerBody()?['comment']?['user']?['login']",
                                                                        ""
                                                                    ]
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "runAfter": {},
                                                    "type": "If"
                                                }
                                            },
                                            "case": "created"
                                        },
                                        "Case_4": {
                                            "actions": {
                                                "Set_variable_onOpened": {
                                                    "inputs": {
                                                        "name": "Message",
                                                        "value": "<a href=\"@{triggerBody()?['pull_request']?['user']?['html_url']}\">@{triggerBody()?['pull_request']?['user']?['login']}</a> opened a new pull request <a href=\"@{triggerBody()?['pull_request']?['html_url']}\">@{triggerBody()?['pull_request']?['title']}</a>"
                                                    },
                                                    "runAfter": {},
                                                    "type": "SetVariable"
                                                }
                                            },
                                            "case": "opened"
                                        },
                                        "Case_5": {
                                            "actions": {
                                                "Set_variable_onClosed": {
                                                    "inputs": {
                                                        "name": "Message",
                                                        "value": "Pull request <a href=\"@{triggerBody()?['pull_request']?['html_url']}\">@{triggerBody()?['pull_request']?['title']}</a> was closed by <a href=\"@{triggerBody()?['pull_request']?['user']?['html_url']}\">@{triggerBody()?['pull_request']?['user']?['login']}</a>"
                                                    },
                                                    "runAfter": {},
                                                    "type": "SetVariable"
                                                }
                                            },
                                            "case": "closed"
                                        },
                                        "Case_6": {
                                            "actions": {
                                                "Terminate_2": {
                                                    "inputs": {
                                                        "runStatus": "Cancelled"
                                                    },
                                                    "runAfter": {},
                                                    "type": "Terminate"
                                                }
                                            },
                                            "case": "deleted"
                                        },
                                        "Case_7": {
                                            "actions": {
                                                "Set_variable_onEdited": {
                                                    "inputs": {
                                                        "name": "Message",
                                                        "value": "<a href=\"@{triggerBody()?['review']?['user']?['html_url']}\">@{triggerBody()?['review']?['user']?['login']}</a> updated review for pull request <a href=\"@{triggerBody()?['review']?['html_url']}\">@{triggerBody()?['pull_request']?['title']}</a>"
                                                    },
                                                    "runAfter": {},
                                                    "type": "SetVariable"
                                                }
                                            },
                                            "case": "edited"
                                        }
                                    },
                                    "default": {
                                        "actions": {}
                                    },
                                    "expression": "@triggerBody()?['action']",
                                    "runAfter": {},
                                    "type": "Switch"
                                }
                            },
                            "else": {
                                "actions": {
                                    "Condition_Quality_Checks": {
                                        "actions": {
                                            "Switch_2": {
                                                "cases": {
                                                    "Case": {
                                                        "actions": {
                                                            "Set_variable_onCheckFinish": {
                                                                "inputs": {
                                                                    "name": "Message",
                                                                    "value": "<a href=\"@{triggerBody()?['check_run']?['html_url']}\">@{triggerBody()?['check_run']?['output']?['title']}</a> for @{triggerBody()?['check_run']?['name']} <b>@{triggerBody()?['check_run']?['status']}</b> with <b>@{triggerBody()?['check_run']?['conclusion']}</b> on <a href=\"@{first(triggerBody()?['check_run']?['pull_requests'])?['url']}\">@{first(triggerBody()?['check_run']?['pull_requests'])?['url']}</a>"
                                                                },
                                                                "runAfter": {},
                                                                "type": "SetVariable"
                                                            }
                                                        },
                                                        "case": "completed"
                                                    },
                                                    "Case_2": {
                                                        "actions": {
                                                            "Set_variable_onCheckStart": {
                                                                "inputs": {
                                                                    "name": "Message",
                                                                    "value": "<a href=\"@{triggerBody()?['check_run']?['html_url']}\">@{triggerBody()?['check_run']?['output']?['title']}</a> for @{triggerBody()?['check_run']?['name']} <b>@{triggerBody()?['check_run']?['status']}</b> with <b>@{triggerBody()?['check_run']?['conclusion']}</b> on <a href=\"@{first(triggerBody()?['check_run']?['pull_requests'])?['url']}\">@{first(triggerBody()?['check_run']?['pull_requests'])?['url']}</a>"
                                                                },
                                                                "runAfter": {},
                                                                "type": "SetVariable"
                                                            }
                                                        },
                                                        "case": "created"
                                                    }
                                                },
                                                "default": {
                                                    "actions": {}
                                                },
                                                "expression": "@triggerBody()?['action']",
                                                "runAfter": {},
                                                "type": "Switch"
                                            }
                                        },
                                        "else": {
                                            "actions": {
                                                "Condition_4": {
                                                    "actions": {
                                                        "Switch_3": {
                                                            "cases": {
                                                                "Case": {
                                                                    "actions": {
                                                                        "Set_variable_onBuild": {
                                                                            "inputs": {
                                                                                "name": "Message",
                                                                                "value": "<a href=\"@{triggerBody()?['commit']?['author']?['html_url']}\">@{triggerBody()?['commit']?['author']?['login']}</a> started a build on branch <a href=\"@{first(triggerBody()?['branches'])?['commit']?['url']}\">@{first(triggerBody()?['branches'])?['name']}</a>. (See <a href=\"@{triggerBody()?['target_url']}\">@{triggerBody()?['target_url']}</a>)"
                                                                            },
                                                                            "runAfter": {},
                                                                            "type": "SetVariable"
                                                                        }
                                                                    },
                                                                    "case": "pending"
                                                                },
                                                                "Case_2": {
                                                                    "actions": {},
                                                                    "case": "success"
                                                                },
                                                                "Case_3": {
                                                                    "actions": {},
                                                                    "case": "failure"
                                                                }
                                                            },
                                                            "default": {
                                                                "actions": {}
                                                            },
                                                            "expression": "@triggerBody()?['state']",
                                                            "runAfter": {},
                                                            "type": "Switch"
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    "@triggerBody()?['context']",
                                                                    "continuous-integration/jenkins/pr-merge"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "runAfter": {},
                                                    "type": "If"
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "contains": [
                                                        "@triggerBody()?['check_run']",
                                                        "status"
                                                    ]
                                                },
                                                {
                                                    "contains": [
                                                        "@triggerBody()",
                                                        "action"
                                                    ]
                                                }
                                            ]
                                        },
                                        "runAfter": {},
                                        "type": "If"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@triggerBody()",
                                            "pull_request"
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Default_SendSms_Disabled": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_2": {
                            "actions": {
                                "Send_SMS_2": {
                                    "inputs": {
                                        "body": {
                                            "from": "+18443253976",
                                            "message": "@variables('Message')",
                                            "sendSmsOptions": {
                                                "enableDeliveryReport": false
                                            },
                                            "to": [
                                                "+15204401252"
                                            ]
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurecommunicationservicessms']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/sms"
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                }
                            },
                            "expression": {
                                "or": [
                                    {
                                        "equals": [
                                            "@variables('SendSms')",
                                            true
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "Default_SendSms_Disabled": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SendSms",
                                        "type": "boolean",
                                        "value": false
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_Message": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_Message": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Message",
                                        "type": "string",
                                        "value": "@triggerBody()?['message']"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "Send_an_email_(V2)": {
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{variables('Message')}<br>\n</p>",
                                    "Subject": "Event was triggered",
                                    "To": "leo.przybylski@optum.com"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            },
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Update_Pluto_Notifications_Channel": {
                            "inputs": {
                                "body": {
                                    "body": {
                                        "content": "<p>@{variables('Message')}&nbsp;</p>",
                                        "contentType": "html"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v3/beta/teams/@{encodeURIComponent('b6ce1a32-ad9a-45e2-a1af-36c6bcd95b9d')}/channels/@{encodeURIComponent('19:29cbad13274a4f8488b0687999d07660@thread.tacv2')}/messages"
                            },
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "action": {
                                            "type": "string"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "check_run": {
                                            "properties": {
                                                "app": {
                                                    "properties": {
                                                        "created_at": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "events": {
                                                            "type": "array"
                                                        },
                                                        "external_url": {
                                                            "type": "string"
                                                        },
                                                        "html_url": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "owner": {
                                                            "properties": {
                                                                "avatar_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "followers_url": {
                                                                    "type": "string"
                                                                },
                                                                "following_url": {
                                                                    "type": "string"
                                                                },
                                                                "gists_url": {
                                                                    "type": "string"
                                                                },
                                                                "gravatar_id": {
                                                                    "type": "string"
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "login": {
                                                                    "type": "string"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "organizations_url": {
                                                                    "type": "string"
                                                                },
                                                                "received_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "repos_url": {
                                                                    "type": "string"
                                                                },
                                                                "site_admin": {
                                                                    "type": "boolean"
                                                                },
                                                                "starred_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscriptions_url": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "permissions": {
                                                            "properties": {
                                                                "checks": {
                                                                    "type": "string"
                                                                },
                                                                "metadata": {
                                                                    "type": "string"
                                                                },
                                                                "pull_requests": {
                                                                    "type": "string"
                                                                },
                                                                "statuses": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "slug": {
                                                            "type": "string"
                                                        },
                                                        "updated_at": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "check_suite": {
                                                    "properties": {
                                                        "after": {
                                                            "type": "string"
                                                        },
                                                        "app": {
                                                            "properties": {
                                                                "created_at": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "events": {
                                                                    "type": "array"
                                                                },
                                                                "external_url": {
                                                                    "type": "string"
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "owner": {
                                                                    "properties": {
                                                                        "avatar_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "followers_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "following_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gists_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gravatar_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "html_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "login": {
                                                                            "type": "string"
                                                                        },
                                                                        "node_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "organizations_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "received_events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "repos_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "site_admin": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "starred_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "subscriptions_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        },
                                                                        "url": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "permissions": {
                                                                    "properties": {
                                                                        "checks": {
                                                                            "type": "string"
                                                                        },
                                                                        "metadata": {
                                                                            "type": "string"
                                                                        },
                                                                        "pull_requests": {
                                                                            "type": "string"
                                                                        },
                                                                        "statuses": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "slug": {
                                                                    "type": "string"
                                                                },
                                                                "updated_at": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "before": {
                                                            "type": "string"
                                                        },
                                                        "conclusion": {
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "type": "string"
                                                        },
                                                        "head_branch": {
                                                            "type": "string"
                                                        },
                                                        "head_sha": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "pull_requests": {
                                                            "items": {
                                                                "properties": {
                                                                    "base": {
                                                                        "properties": {
                                                                            "ref": {
                                                                                "type": "string"
                                                                            },
                                                                            "repo": {
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "name": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "url": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "sha": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "head": {
                                                                        "properties": {
                                                                            "ref": {
                                                                                "type": "string"
                                                                            },
                                                                            "repo": {
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "name": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "url": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "sha": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "id": {
                                                                        "type": "integer"
                                                                    },
                                                                    "number": {
                                                                        "type": "integer"
                                                                    },
                                                                    "url": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "url",
                                                                    "id",
                                                                    "number",
                                                                    "head",
                                                                    "base"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "updated_at": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "completed_at": {
                                                    "type": "string"
                                                },
                                                "conclusion": {
                                                    "type": "string"
                                                },
                                                "details_url": {
                                                    "type": "string"
                                                },
                                                "external_id": {
                                                    "type": "string"
                                                },
                                                "head_sha": {
                                                    "type": "string"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "output": {
                                                    "properties": {
                                                        "annotations_count": {
                                                            "type": "integer"
                                                        },
                                                        "annotations_url": {
                                                            "type": "string"
                                                        },
                                                        "summary": {
                                                            "type": "string"
                                                        },
                                                        "text": {},
                                                        "title": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "pull_requests": {
                                                    "items": {
                                                        "properties": {
                                                            "base": {
                                                                "properties": {
                                                                    "ref": {
                                                                        "type": "string"
                                                                    },
                                                                    "repo": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "integer"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "url": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "sha": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "head": {
                                                                "properties": {
                                                                    "ref": {
                                                                        "type": "string"
                                                                    },
                                                                    "repo": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "integer"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "url": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "sha": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "number": {
                                                                "type": "integer"
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "id",
                                                            "number",
                                                            "head",
                                                            "base"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "started_at": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "commit": {
                                            "properties": {
                                                "author": {
                                                    "properties": {
                                                        "avatar_url": {
                                                            "type": "string"
                                                        },
                                                        "events_url": {
                                                            "type": "string"
                                                        },
                                                        "followers_url": {
                                                            "type": "string"
                                                        },
                                                        "following_url": {
                                                            "type": "string"
                                                        },
                                                        "gists_url": {
                                                            "type": "string"
                                                        },
                                                        "gravatar_id": {
                                                            "type": "string"
                                                        },
                                                        "html_url": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "ldap_dn": {
                                                            "type": "string"
                                                        },
                                                        "login": {
                                                            "type": "string"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "organizations_url": {
                                                            "type": "string"
                                                        },
                                                        "received_events_url": {
                                                            "type": "string"
                                                        },
                                                        "repos_url": {
                                                            "type": "string"
                                                        },
                                                        "site_admin": {
                                                            "type": "boolean"
                                                        },
                                                        "starred_url": {
                                                            "type": "string"
                                                        },
                                                        "subscriptions_url": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "comments_url": {
                                                    "type": "string"
                                                },
                                                "commit": {
                                                    "properties": {
                                                        "author": {
                                                            "properties": {
                                                                "date": {
                                                                    "type": "string"
                                                                },
                                                                "email": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "comment_count": {
                                                            "type": "integer"
                                                        },
                                                        "committer": {
                                                            "properties": {
                                                                "date": {
                                                                    "type": "string"
                                                                },
                                                                "email": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "message": {
                                                            "type": "string"
                                                        },
                                                        "tree": {
                                                            "properties": {
                                                                "sha": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        },
                                                        "verification": {
                                                            "properties": {
                                                                "payload": {},
                                                                "reason": {
                                                                    "type": "string"
                                                                },
                                                                "signature": {},
                                                                "verified": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "committer": {
                                                    "properties": {
                                                        "avatar_url": {
                                                            "type": "string"
                                                        },
                                                        "events_url": {
                                                            "type": "string"
                                                        },
                                                        "followers_url": {
                                                            "type": "string"
                                                        },
                                                        "following_url": {
                                                            "type": "string"
                                                        },
                                                        "gists_url": {
                                                            "type": "string"
                                                        },
                                                        "gravatar_id": {
                                                            "type": "string"
                                                        },
                                                        "html_url": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "ldap_dn": {
                                                            "type": "string"
                                                        },
                                                        "login": {
                                                            "type": "string"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "organizations_url": {
                                                            "type": "string"
                                                        },
                                                        "received_events_url": {
                                                            "type": "string"
                                                        },
                                                        "repos_url": {
                                                            "type": "string"
                                                        },
                                                        "site_admin": {
                                                            "type": "boolean"
                                                        },
                                                        "starred_url": {
                                                            "type": "string"
                                                        },
                                                        "subscriptions_url": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "parents": {
                                                    "items": {
                                                        "properties": {
                                                            "html_url": {
                                                                "type": "string"
                                                            },
                                                            "sha": {
                                                                "type": "string"
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "sha",
                                                            "url",
                                                            "html_url"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "sha": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "context": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "number": {
                                            "type": "integer"
                                        },
                                        "pull_request": {
                                            "properties": {
                                                "_links": {
                                                    "properties": {
                                                        "comments": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "commits": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "html": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "issue": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "review_comment": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "review_comments": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "self": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "statuses": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "additions": {
                                                    "type": "integer"
                                                },
                                                "assignee": {},
                                                "assignees": {
                                                    "type": "array"
                                                },
                                                "author_association": {
                                                    "type": "string"
                                                },
                                                "base": {
                                                    "properties": {
                                                        "label": {
                                                            "type": "string"
                                                        },
                                                        "ref": {
                                                            "type": "string"
                                                        },
                                                        "repo": {
                                                            "properties": {
                                                                "allow_merge_commit": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_rebase_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_squash_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "archive_url": {
                                                                    "type": "string"
                                                                },
                                                                "archived": {
                                                                    "type": "boolean"
                                                                },
                                                                "assignees_url": {
                                                                    "type": "string"
                                                                },
                                                                "blobs_url": {
                                                                    "type": "string"
                                                                },
                                                                "branches_url": {
                                                                    "type": "string"
                                                                },
                                                                "clone_url": {
                                                                    "type": "string"
                                                                },
                                                                "collaborators_url": {
                                                                    "type": "string"
                                                                },
                                                                "comments_url": {
                                                                    "type": "string"
                                                                },
                                                                "commits_url": {
                                                                    "type": "string"
                                                                },
                                                                "compare_url": {
                                                                    "type": "string"
                                                                },
                                                                "contents_url": {
                                                                    "type": "string"
                                                                },
                                                                "contributors_url": {
                                                                    "type": "string"
                                                                },
                                                                "created_at": {
                                                                    "type": "string"
                                                                },
                                                                "default_branch": {
                                                                    "type": "string"
                                                                },
                                                                "delete_branch_on_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "deployments_url": {
                                                                    "type": "string"
                                                                },
                                                                "description": {},
                                                                "disabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "downloads_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "fork": {
                                                                    "type": "boolean"
                                                                },
                                                                "forks": {
                                                                    "type": "integer"
                                                                },
                                                                "forks_count": {
                                                                    "type": "integer"
                                                                },
                                                                "forks_url": {
                                                                    "type": "string"
                                                                },
                                                                "full_name": {
                                                                    "type": "string"
                                                                },
                                                                "git_commits_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_refs_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_tags_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_url": {
                                                                    "type": "string"
                                                                },
                                                                "has_downloads": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_issues": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_pages": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_projects": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_wiki": {
                                                                    "type": "boolean"
                                                                },
                                                                "homepage": {},
                                                                "hooks_url": {
                                                                    "type": "string"
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "issue_comment_url": {
                                                                    "type": "string"
                                                                },
                                                                "issue_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "issues_url": {
                                                                    "type": "string"
                                                                },
                                                                "keys_url": {
                                                                    "type": "string"
                                                                },
                                                                "labels_url": {
                                                                    "type": "string"
                                                                },
                                                                "language": {},
                                                                "languages_url": {
                                                                    "type": "string"
                                                                },
                                                                "license": {},
                                                                "merges_url": {
                                                                    "type": "string"
                                                                },
                                                                "milestones_url": {
                                                                    "type": "string"
                                                                },
                                                                "mirror_url": {},
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "notifications_url": {
                                                                    "type": "string"
                                                                },
                                                                "open_issues": {
                                                                    "type": "integer"
                                                                },
                                                                "open_issues_count": {
                                                                    "type": "integer"
                                                                },
                                                                "owner": {
                                                                    "properties": {
                                                                        "avatar_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "followers_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "following_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gists_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gravatar_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "html_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "login": {
                                                                            "type": "string"
                                                                        },
                                                                        "node_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "organizations_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "received_events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "repos_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "site_admin": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "starred_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "subscriptions_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        },
                                                                        "url": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "private": {
                                                                    "type": "boolean"
                                                                },
                                                                "pulls_url": {
                                                                    "type": "string"
                                                                },
                                                                "pushed_at": {
                                                                    "type": "string"
                                                                },
                                                                "releases_url": {
                                                                    "type": "string"
                                                                },
                                                                "size": {
                                                                    "type": "integer"
                                                                },
                                                                "ssh_url": {
                                                                    "type": "string"
                                                                },
                                                                "stargazers_count": {
                                                                    "type": "integer"
                                                                },
                                                                "stargazers_url": {
                                                                    "type": "string"
                                                                },
                                                                "statuses_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscribers_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscription_url": {
                                                                    "type": "string"
                                                                },
                                                                "svn_url": {
                                                                    "type": "string"
                                                                },
                                                                "tags_url": {
                                                                    "type": "string"
                                                                },
                                                                "teams_url": {
                                                                    "type": "string"
                                                                },
                                                                "trees_url": {
                                                                    "type": "string"
                                                                },
                                                                "updated_at": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                },
                                                                "watchers": {
                                                                    "type": "integer"
                                                                },
                                                                "watchers_count": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "sha": {
                                                            "type": "string"
                                                        },
                                                        "user": {
                                                            "properties": {
                                                                "avatar_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "followers_url": {
                                                                    "type": "string"
                                                                },
                                                                "following_url": {
                                                                    "type": "string"
                                                                },
                                                                "gists_url": {
                                                                    "type": "string"
                                                                },
                                                                "gravatar_id": {
                                                                    "type": "string"
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "login": {
                                                                    "type": "string"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "organizations_url": {
                                                                    "type": "string"
                                                                },
                                                                "received_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "repos_url": {
                                                                    "type": "string"
                                                                },
                                                                "site_admin": {
                                                                    "type": "boolean"
                                                                },
                                                                "starred_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscriptions_url": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "body": {
                                                    "type": "string"
                                                },
                                                "changed_files": {
                                                    "type": "integer"
                                                },
                                                "closed_at": {},
                                                "comments": {
                                                    "type": "integer"
                                                },
                                                "comments_url": {
                                                    "type": "string"
                                                },
                                                "commits": {
                                                    "type": "integer"
                                                },
                                                "commits_url": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "deletions": {
                                                    "type": "integer"
                                                },
                                                "diff_url": {
                                                    "type": "string"
                                                },
                                                "draft": {
                                                    "type": "boolean"
                                                },
                                                "head": {
                                                    "properties": {
                                                        "label": {
                                                            "type": "string"
                                                        },
                                                        "ref": {
                                                            "type": "string"
                                                        },
                                                        "repo": {
                                                            "properties": {
                                                                "allow_merge_commit": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_rebase_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_squash_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "archive_url": {
                                                                    "type": "string"
                                                                },
                                                                "archived": {
                                                                    "type": "boolean"
                                                                },
                                                                "assignees_url": {
                                                                    "type": "string"
                                                                },
                                                                "blobs_url": {
                                                                    "type": "string"
                                                                },
                                                                "branches_url": {
                                                                    "type": "string"
                                                                },
                                                                "clone_url": {
                                                                    "type": "string"
                                                                },
                                                                "collaborators_url": {
                                                                    "type": "string"
                                                                },
                                                                "comments_url": {
                                                                    "type": "string"
                                                                },
                                                                "commits_url": {
                                                                    "type": "string"
                                                                },
                                                                "compare_url": {
                                                                    "type": "string"
                                                                },
                                                                "contents_url": {
                                                                    "type": "string"
                                                                },
                                                                "contributors_url": {
                                                                    "type": "string"
                                                                },
                                                                "created_at": {
                                                                    "type": "string"
                                                                },
                                                                "default_branch": {
                                                                    "type": "string"
                                                                },
                                                                "delete_branch_on_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "deployments_url": {
                                                                    "type": "string"
                                                                },
                                                                "description": {},
                                                                "disabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "downloads_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "fork": {
                                                                    "type": "boolean"
                                                                },
                                                                "forks": {
                                                                    "type": "integer"
                                                                },
                                                                "forks_count": {
                                                                    "type": "integer"
                                                                },
                                                                "forks_url": {
                                                                    "type": "string"
                                                                },
                                                                "full_name": {
                                                                    "type": "string"
                                                                },
                                                                "git_commits_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_refs_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_tags_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_url": {
                                                                    "type": "string"
                                                                },
                                                                "has_downloads": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_issues": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_pages": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_projects": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_wiki": {
                                                                    "type": "boolean"
                                                                },
                                                                "homepage": {},
                                                                "hooks_url": {
                                                                    "type": "string"
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "issue_comment_url": {
                                                                    "type": "string"
                                                                },
                                                                "issue_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "issues_url": {
                                                                    "type": "string"
                                                                },
                                                                "keys_url": {
                                                                    "type": "string"
                                                                },
                                                                "labels_url": {
                                                                    "type": "string"
                                                                },
                                                                "language": {},
                                                                "languages_url": {
                                                                    "type": "string"
                                                                },
                                                                "license": {},
                                                                "merges_url": {
                                                                    "type": "string"
                                                                },
                                                                "milestones_url": {
                                                                    "type": "string"
                                                                },
                                                                "mirror_url": {},
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "notifications_url": {
                                                                    "type": "string"
                                                                },
                                                                "open_issues": {
                                                                    "type": "integer"
                                                                },
                                                                "open_issues_count": {
                                                                    "type": "integer"
                                                                },
                                                                "owner": {
                                                                    "properties": {
                                                                        "avatar_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "followers_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "following_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gists_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gravatar_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "html_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "login": {
                                                                            "type": "string"
                                                                        },
                                                                        "node_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "organizations_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "received_events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "repos_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "site_admin": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "starred_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "subscriptions_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        },
                                                                        "url": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "private": {
                                                                    "type": "boolean"
                                                                },
                                                                "pulls_url": {
                                                                    "type": "string"
                                                                },
                                                                "pushed_at": {
                                                                    "type": "string"
                                                                },
                                                                "releases_url": {
                                                                    "type": "string"
                                                                },
                                                                "size": {
                                                                    "type": "integer"
                                                                },
                                                                "ssh_url": {
                                                                    "type": "string"
                                                                },
                                                                "stargazers_count": {
                                                                    "type": "integer"
                                                                },
                                                                "stargazers_url": {
                                                                    "type": "string"
                                                                },
                                                                "statuses_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscribers_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscription_url": {
                                                                    "type": "string"
                                                                },
                                                                "svn_url": {
                                                                    "type": "string"
                                                                },
                                                                "tags_url": {
                                                                    "type": "string"
                                                                },
                                                                "teams_url": {
                                                                    "type": "string"
                                                                },
                                                                "trees_url": {
                                                                    "type": "string"
                                                                },
                                                                "updated_at": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                },
                                                                "watchers": {
                                                                    "type": "integer"
                                                                },
                                                                "watchers_count": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "sha": {
                                                            "type": "string"
                                                        },
                                                        "user": {
                                                            "properties": {
                                                                "avatar_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "followers_url": {
                                                                    "type": "string"
                                                                },
                                                                "following_url": {
                                                                    "type": "string"
                                                                },
                                                                "gists_url": {
                                                                    "type": "string"
                                                                },
                                                                "gravatar_id": {
                                                                    "type": "string"
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "login": {
                                                                    "type": "string"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "organizations_url": {
                                                                    "type": "string"
                                                                },
                                                                "received_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "repos_url": {
                                                                    "type": "string"
                                                                },
                                                                "site_admin": {
                                                                    "type": "boolean"
                                                                },
                                                                "starred_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscriptions_url": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "issue_url": {
                                                    "type": "string"
                                                },
                                                "labels": {
                                                    "type": "array"
                                                },
                                                "locked": {
                                                    "type": "boolean"
                                                },
                                                "maintainer_can_modify": {
                                                    "type": "boolean"
                                                },
                                                "merge_commit_sha": {},
                                                "mergeable": {},
                                                "mergeable_state": {
                                                    "type": "string"
                                                },
                                                "merged": {
                                                    "type": "boolean"
                                                },
                                                "merged_at": {},
                                                "merged_by": {},
                                                "milestone": {},
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "number": {
                                                    "type": "integer"
                                                },
                                                "patch_url": {
                                                    "type": "string"
                                                },
                                                "rebaseable": {},
                                                "requested_reviewers": {
                                                    "type": "array"
                                                },
                                                "requested_teams": {
                                                    "type": "array"
                                                },
                                                "review_comment_url": {
                                                    "type": "string"
                                                },
                                                "review_comments": {
                                                    "type": "integer"
                                                },
                                                "review_comments_url": {
                                                    "type": "string"
                                                },
                                                "state": {
                                                    "type": "string"
                                                },
                                                "statuses_url": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "user": {
                                                    "properties": {
                                                        "avatar_url": {
                                                            "type": "string"
                                                        },
                                                        "events_url": {
                                                            "type": "string"
                                                        },
                                                        "followers_url": {
                                                            "type": "string"
                                                        },
                                                        "following_url": {
                                                            "type": "string"
                                                        },
                                                        "gists_url": {
                                                            "type": "string"
                                                        },
                                                        "gravatar_id": {
                                                            "type": "string"
                                                        },
                                                        "html_url": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "login": {
                                                            "type": "string"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "organizations_url": {
                                                            "type": "string"
                                                        },
                                                        "received_events_url": {
                                                            "type": "string"
                                                        },
                                                        "repos_url": {
                                                            "type": "string"
                                                        },
                                                        "site_admin": {
                                                            "type": "boolean"
                                                        },
                                                        "starred_url": {
                                                            "type": "string"
                                                        },
                                                        "subscriptions_url": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "repository": {
                                            "properties": {
                                                "archive_url": {
                                                    "type": "string"
                                                },
                                                "archived": {
                                                    "type": "boolean"
                                                },
                                                "assignees_url": {
                                                    "type": "string"
                                                },
                                                "blobs_url": {
                                                    "type": "string"
                                                },
                                                "branches_url": {
                                                    "type": "string"
                                                },
                                                "clone_url": {
                                                    "type": "string"
                                                },
                                                "collaborators_url": {
                                                    "type": "string"
                                                },
                                                "comments_url": {
                                                    "type": "string"
                                                },
                                                "commits_url": {
                                                    "type": "string"
                                                },
                                                "compare_url": {
                                                    "type": "string"
                                                },
                                                "contents_url": {
                                                    "type": "string"
                                                },
                                                "contributors_url": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "default_branch": {
                                                    "type": "string"
                                                },
                                                "deployments_url": {
                                                    "type": "string"
                                                },
                                                "description": {},
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "downloads_url": {
                                                    "type": "string"
                                                },
                                                "events_url": {
                                                    "type": "string"
                                                },
                                                "fork": {
                                                    "type": "boolean"
                                                },
                                                "forks": {
                                                    "type": "integer"
                                                },
                                                "forks_count": {
                                                    "type": "integer"
                                                },
                                                "forks_url": {
                                                    "type": "string"
                                                },
                                                "full_name": {
                                                    "type": "string"
                                                },
                                                "git_commits_url": {
                                                    "type": "string"
                                                },
                                                "git_refs_url": {
                                                    "type": "string"
                                                },
                                                "git_tags_url": {
                                                    "type": "string"
                                                },
                                                "git_url": {
                                                    "type": "string"
                                                },
                                                "has_downloads": {
                                                    "type": "boolean"
                                                },
                                                "has_issues": {
                                                    "type": "boolean"
                                                },
                                                "has_pages": {
                                                    "type": "boolean"
                                                },
                                                "has_projects": {
                                                    "type": "boolean"
                                                },
                                                "has_wiki": {
                                                    "type": "boolean"
                                                },
                                                "homepage": {},
                                                "hooks_url": {
                                                    "type": "string"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "issue_comment_url": {
                                                    "type": "string"
                                                },
                                                "issue_events_url": {
                                                    "type": "string"
                                                },
                                                "issues_url": {
                                                    "type": "string"
                                                },
                                                "keys_url": {
                                                    "type": "string"
                                                },
                                                "labels_url": {
                                                    "type": "string"
                                                },
                                                "language": {},
                                                "languages_url": {
                                                    "type": "string"
                                                },
                                                "license": {},
                                                "merges_url": {
                                                    "type": "string"
                                                },
                                                "milestones_url": {
                                                    "type": "string"
                                                },
                                                "mirror_url": {},
                                                "name": {
                                                    "type": "string"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "notifications_url": {
                                                    "type": "string"
                                                },
                                                "open_issues": {
                                                    "type": "integer"
                                                },
                                                "open_issues_count": {
                                                    "type": "integer"
                                                },
                                                "owner": {
                                                    "properties": {
                                                        "avatar_url": {
                                                            "type": "string"
                                                        },
                                                        "events_url": {
                                                            "type": "string"
                                                        },
                                                        "followers_url": {
                                                            "type": "string"
                                                        },
                                                        "following_url": {
                                                            "type": "string"
                                                        },
                                                        "gists_url": {
                                                            "type": "string"
                                                        },
                                                        "gravatar_id": {
                                                            "type": "string"
                                                        },
                                                        "html_url": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "login": {
                                                            "type": "string"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "organizations_url": {
                                                            "type": "string"
                                                        },
                                                        "received_events_url": {
                                                            "type": "string"
                                                        },
                                                        "repos_url": {
                                                            "type": "string"
                                                        },
                                                        "site_admin": {
                                                            "type": "boolean"
                                                        },
                                                        "starred_url": {
                                                            "type": "string"
                                                        },
                                                        "subscriptions_url": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "private": {
                                                    "type": "boolean"
                                                },
                                                "pulls_url": {
                                                    "type": "string"
                                                },
                                                "pushed_at": {
                                                    "type": "string"
                                                },
                                                "releases_url": {
                                                    "type": "string"
                                                },
                                                "size": {
                                                    "type": "integer"
                                                },
                                                "ssh_url": {
                                                    "type": "string"
                                                },
                                                "stargazers_count": {
                                                    "type": "integer"
                                                },
                                                "stargazers_url": {
                                                    "type": "string"
                                                },
                                                "statuses_url": {
                                                    "type": "string"
                                                },
                                                "subscribers_url": {
                                                    "type": "string"
                                                },
                                                "subscription_url": {
                                                    "type": "string"
                                                },
                                                "svn_url": {
                                                    "type": "string"
                                                },
                                                "tags_url": {
                                                    "type": "string"
                                                },
                                                "teams_url": {
                                                    "type": "string"
                                                },
                                                "trees_url": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "watchers": {
                                                    "type": "integer"
                                                },
                                                "watchers_count": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "review": {
                                            "properties": {
                                                "_links": {
                                                    "properties": {
                                                        "html": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "pull_request": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "author_association": {
                                                    "type": "string"
                                                },
                                                "body": {},
                                                "commit_id": {
                                                    "type": "string"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "pull_request_url": {
                                                    "type": "string"
                                                },
                                                "state": {
                                                    "type": "string"
                                                },
                                                "submitted_at": {
                                                    "type": "string"
                                                },
                                                "user": {
                                                    "properties": {
                                                        "avatar_url": {
                                                            "type": "string"
                                                        },
                                                        "events_url": {
                                                            "type": "string"
                                                        },
                                                        "followers_url": {
                                                            "type": "string"
                                                        },
                                                        "following_url": {
                                                            "type": "string"
                                                        },
                                                        "gists_url": {
                                                            "type": "string"
                                                        },
                                                        "gravatar_id": {
                                                            "type": "string"
                                                        },
                                                        "html_url": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "login": {
                                                            "type": "string"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "organizations_url": {
                                                            "type": "string"
                                                        },
                                                        "received_events_url": {
                                                            "type": "string"
                                                        },
                                                        "repos_url": {
                                                            "type": "string"
                                                        },
                                                        "site_admin": {
                                                            "type": "boolean"
                                                        },
                                                        "starred_url": {
                                                            "type": "string"
                                                        },
                                                        "subscriptions_url": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sender": {
                                            "properties": {
                                                "avatar_url": {
                                                    "type": "string"
                                                },
                                                "events_url": {
                                                    "type": "string"
                                                },
                                                "followers_url": {
                                                    "type": "string"
                                                },
                                                "following_url": {
                                                    "type": "string"
                                                },
                                                "gists_url": {
                                                    "type": "string"
                                                },
                                                "gravatar_id": {
                                                    "type": "string"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "login": {
                                                    "type": "string"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "organizations_url": {
                                                    "type": "string"
                                                },
                                                "received_events_url": {
                                                    "type": "string"
                                                },
                                                "repos_url": {
                                                    "type": "string"
                                                },
                                                "site_admin": {
                                                    "type": "boolean"
                                                },
                                                "starred_url": {
                                                    "type": "string"
                                                },
                                                "subscriptions_url": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sha": {
                                            "type": "string"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "target_url": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                }
            },
            "parameters": {
                "$connections": {
                    "value": {
                        "azurecommunicationservicessms": {
                            "connectionId": "[variables('connections_sms_service_externalid')]",
                            "connectionName": "azurecommunicationservicessms",
                            "id": "[variables('connections_sms_service_id')]"
                        },
                        "office365": {
                            "connectionId": "[variables('connections_office365_service_externalid')]",
                            "connectionName": "office365",
                            "id": "[variables('connections_office365_service_id')]"
                        },
                        "teams": {
                            "connectionId": "[variables('connections_teams_service_externalid')]",
                            "connectionName": "teams",
                            "id": "[variables('connections_teams_service_id')]"
                        }
                    }
                }
            }
        }
    ]
}