brads_badass_canary/templates/logic-app-deployment-tpl.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "subscription_id": {
            "defaultValue": "NO SUBSCRIPTION SET",
            "type": "string"
        },
        "resource_group": {
            "defaultValue": "NO RESOURCE GROUP SET",
            "type": "string"
        },
        "workflows_notification_app_name": {
            "defaultValue": "APP WITH NO NAME",
            "type": "string"
        }
    },
    "variables": {
        "subscription_base": "[concat('/subscriptions/', parameters('subscription_id'))]",
        "resource_group_base": "[concat(variables('subscription_base'), '/resourceGroups/', parameters('resource_group'))]",
        "connections_sms_service_externalid": "[concat(variables('resource_group_base'), '/providers/Microsoft.Web/connections/sms-service')]",
        "connections_office365_service_externalid": "[concat(variables('resource_group_base'), '/providers/Microsoft.Web/connections/office365-service')]",
        "connections_teams_service_externalid": "[concat(variables('resource_group_base'), '/providers/Microsoft.Web/connections/teams-service')]",
        "connections_sms_service_id": "[concat(variables('subscription_base'), '/providers/Microsoft.Web/locations/centralus/managedApis/azurecommunicationservicessms')]",
        "connections_office365_service_id": "[concat(variables('subscription_base'), '/providers/Microsoft.Web/locations/centralus/managedApis/office365')]",
        "connections_teams_service_id": "[concat(variables('subscription_base'), '/providers/Microsoft.Web/locations/centralus/managedApis/teams')]"
    },
    "outputs": {
        "accessEndpoint": {
            "type": "object",
            "value": "[listCallbackURL(resourceId('Microsoft.Logic/workflows/triggers', parameters('workflows_notification_app_name'), 'manual'), '2016-06-01')]"
        },
        "resource_group_base": {
            "value": "[variables('resource_group_base')]",
            "type": "string"
        },
        "connections_sms_service_id": {
            "value": "[variables('connections_sms_service_id')]",
            "type": "string"
        },
        "connections_sms_service_externalid": {
            "value": "[variables('connections_sms_service_externalid')]",
            "type": "string"
        }
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_notification_app_name')]",
            "location": "centralus",
            "properties":{
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "action": {
                                            "type": "string"
                                        },
                                        "number": {
                                            "type": "integer"
                                        },
                                        "review": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "user": {
                                                    "type": "object",
                                                    "properties": {
                                                        "login": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "avatar_url": {
                                                            "type": "string"
                                                        },
                                                        "gravatar_id": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        },
                                                        "html_url": {
                                                            "type": "string"
                                                        },
                                                        "followers_url": {
                                                            "type": "string"
                                                        },
                                                        "following_url": {
                                                            "type": "string"
                                                        },
                                                        "gists_url": {
                                                            "type": "string"
                                                        },
                                                        "starred_url": {
                                                            "type": "string"
                                                        },
                                                        "subscriptions_url": {
                                                            "type": "string"
                                                        },
                                                        "organizations_url": {
                                                            "type": "string"
                                                        },
                                                        "repos_url": {
                                                            "type": "string"
                                                        },
                                                        "events_url": {
                                                            "type": "string"
                                                        },
                                                        "received_events_url": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "site_admin": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "body": {},
                                                "commit_id": {
                                                    "type": "string"
                                                },
                                                "submitted_at": {
                                                    "type": "string"
                                                },
                                                "state": {
                                                    "type": "string"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "pull_request_url": {
                                                    "type": "string"
                                                },
                                                "author_association": {
                                                    "type": "string"
                                                },
                                                "_links": {
                                                    "type": "object",
                                                    "properties": {
                                                        "html": {
                                                            "type": "object",
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "pull_request": {
                                                            "type": "object",
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "pull_request": {
                                            "type": "object",
                                            "properties": {
                                                "url": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "diff_url": {
                                                    "type": "string"
                                                },
                                                "patch_url": {
                                                    "type": "string"
                                                },
                                                "issue_url": {
                                                    "type": "string"
                                                },
                                                "number": {
                                                    "type": "integer"
                                                },
                                                "state": {
                                                    "type": "string"
                                                },
                                                "locked": {
                                                    "type": "boolean"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "user": {
                                                    "type": "object",
                                                    "properties": {
                                                        "login": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "avatar_url": {
                                                            "type": "string"
                                                        },
                                                        "gravatar_id": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        },
                                                        "html_url": {
                                                            "type": "string"
                                                        },
                                                        "followers_url": {
                                                            "type": "string"
                                                        },
                                                        "following_url": {
                                                            "type": "string"
                                                        },
                                                        "gists_url": {
                                                            "type": "string"
                                                        },
                                                        "starred_url": {
                                                            "type": "string"
                                                        },
                                                        "subscriptions_url": {
                                                            "type": "string"
                                                        },
                                                        "organizations_url": {
                                                            "type": "string"
                                                        },
                                                        "repos_url": {
                                                            "type": "string"
                                                        },
                                                        "events_url": {
                                                            "type": "string"
                                                        },
                                                        "received_events_url": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "site_admin": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "body": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "closed_at": {},
                                                "merged_at": {},
                                                "merge_commit_sha": {},
                                                "assignee": {},
                                                "assignees": {
                                                    "type": "array"
                                                },
                                                "requested_reviewers": {
                                                    "type": "array"
                                                },
                                                "requested_teams": {
                                                    "type": "array"
                                                },
                                                "labels": {
                                                    "type": "array"
                                                },
                                                "milestone": {},
                                                "commits_url": {
                                                    "type": "string"
                                                },
                                                "review_comments_url": {
                                                    "type": "string"
                                                },
                                                "review_comment_url": {
                                                    "type": "string"
                                                },
                                                "comments_url": {
                                                    "type": "string"
                                                },
                                                "statuses_url": {
                                                    "type": "string"
                                                },
                                                "head": {
                                                    "type": "object",
                                                    "properties": {
                                                        "label": {
                                                            "type": "string"
                                                        },
                                                        "ref": {
                                                            "type": "string"
                                                        },
                                                        "sha": {
                                                            "type": "string"
                                                        },
                                                        "user": {
                                                            "type": "object",
                                                            "properties": {
                                                                "login": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "avatar_url": {
                                                                    "type": "string"
                                                                },
                                                                "gravatar_id": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "followers_url": {
                                                                    "type": "string"
                                                                },
                                                                "following_url": {
                                                                    "type": "string"
                                                                },
                                                                "gists_url": {
                                                                    "type": "string"
                                                                },
                                                                "starred_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscriptions_url": {
                                                                    "type": "string"
                                                                },
                                                                "organizations_url": {
                                                                    "type": "string"
                                                                },
                                                                "repos_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "received_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "site_admin": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "repo": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "full_name": {
                                                                    "type": "string"
                                                                },
                                                                "private": {
                                                                    "type": "boolean"
                                                                },
                                                                "owner": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "login": {
                                                                            "type": "string"
                                                                        },
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "node_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "avatar_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gravatar_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "url": {
                                                                            "type": "string"
                                                                        },
                                                                        "html_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "followers_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "following_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gists_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "starred_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "subscriptions_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "organizations_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "repos_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "received_events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        },
                                                                        "site_admin": {
                                                                            "type": "boolean"
                                                                        }
                                                                    }
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "description": {},
                                                                "fork": {
                                                                    "type": "boolean"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                },
                                                                "forks_url": {
                                                                    "type": "string"
                                                                },
                                                                "keys_url": {
                                                                    "type": "string"
                                                                },
                                                                "collaborators_url": {
                                                                    "type": "string"
                                                                },
                                                                "teams_url": {
                                                                    "type": "string"
                                                                },
                                                                "hooks_url": {
                                                                    "type": "string"
                                                                },
                                                                "issue_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "assignees_url": {
                                                                    "type": "string"
                                                                },
                                                                "branches_url": {
                                                                    "type": "string"
                                                                },
                                                                "tags_url": {
                                                                    "type": "string"
                                                                },
                                                                "blobs_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_tags_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_refs_url": {
                                                                    "type": "string"
                                                                },
                                                                "trees_url": {
                                                                    "type": "string"
                                                                },
                                                                "statuses_url": {
                                                                    "type": "string"
                                                                },
                                                                "languages_url": {
                                                                    "type": "string"
                                                                },
                                                                "stargazers_url": {
                                                                    "type": "string"
                                                                },
                                                                "contributors_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscribers_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscription_url": {
                                                                    "type": "string"
                                                                },
                                                                "commits_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_commits_url": {
                                                                    "type": "string"
                                                                },
                                                                "comments_url": {
                                                                    "type": "string"
                                                                },
                                                                "issue_comment_url": {
                                                                    "type": "string"
                                                                },
                                                                "contents_url": {
                                                                    "type": "string"
                                                                },
                                                                "compare_url": {
                                                                    "type": "string"
                                                                },
                                                                "merges_url": {
                                                                    "type": "string"
                                                                },
                                                                "archive_url": {
                                                                    "type": "string"
                                                                },
                                                                "downloads_url": {
                                                                    "type": "string"
                                                                },
                                                                "issues_url": {
                                                                    "type": "string"
                                                                },
                                                                "pulls_url": {
                                                                    "type": "string"
                                                                },
                                                                "milestones_url": {
                                                                    "type": "string"
                                                                },
                                                                "notifications_url": {
                                                                    "type": "string"
                                                                },
                                                                "labels_url": {
                                                                    "type": "string"
                                                                },
                                                                "releases_url": {
                                                                    "type": "string"
                                                                },
                                                                "deployments_url": {
                                                                    "type": "string"
                                                                },
                                                                "created_at": {
                                                                    "type": "string"
                                                                },
                                                                "updated_at": {
                                                                    "type": "string"
                                                                },
                                                                "pushed_at": {
                                                                    "type": "string"
                                                                },
                                                                "git_url": {
                                                                    "type": "string"
                                                                },
                                                                "ssh_url": {
                                                                    "type": "string"
                                                                },
                                                                "clone_url": {
                                                                    "type": "string"
                                                                },
                                                                "svn_url": {
                                                                    "type": "string"
                                                                },
                                                                "homepage": {},
                                                                "size": {
                                                                    "type": "integer"
                                                                },
                                                                "stargazers_count": {
                                                                    "type": "integer"
                                                                },
                                                                "watchers_count": {
                                                                    "type": "integer"
                                                                },
                                                                "language": {},
                                                                "has_issues": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_projects": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_downloads": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_wiki": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_pages": {
                                                                    "type": "boolean"
                                                                },
                                                                "forks_count": {
                                                                    "type": "integer"
                                                                },
                                                                "mirror_url": {},
                                                                "archived": {
                                                                    "type": "boolean"
                                                                },
                                                                "disabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "open_issues_count": {
                                                                    "type": "integer"
                                                                },
                                                                "license": {},
                                                                "forks": {
                                                                    "type": "integer"
                                                                },
                                                                "open_issues": {
                                                                    "type": "integer"
                                                                },
                                                                "watchers": {
                                                                    "type": "integer"
                                                                },
                                                                "default_branch": {
                                                                    "type": "string"
                                                                },
                                                                "allow_squash_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_merge_commit": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_rebase_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "delete_branch_on_merge": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "base": {
                                                    "type": "object",
                                                    "properties": {
                                                        "label": {
                                                            "type": "string"
                                                        },
                                                        "ref": {
                                                            "type": "string"
                                                        },
                                                        "sha": {
                                                            "type": "string"
                                                        },
                                                        "user": {
                                                            "type": "object",
                                                            "properties": {
                                                                "login": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "avatar_url": {
                                                                    "type": "string"
                                                                },
                                                                "gravatar_id": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "followers_url": {
                                                                    "type": "string"
                                                                },
                                                                "following_url": {
                                                                    "type": "string"
                                                                },
                                                                "gists_url": {
                                                                    "type": "string"
                                                                },
                                                                "starred_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscriptions_url": {
                                                                    "type": "string"
                                                                },
                                                                "organizations_url": {
                                                                    "type": "string"
                                                                },
                                                                "repos_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "received_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "site_admin": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "repo": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "full_name": {
                                                                    "type": "string"
                                                                },
                                                                "private": {
                                                                    "type": "boolean"
                                                                },
                                                                "owner": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "login": {
                                                                            "type": "string"
                                                                        },
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "node_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "avatar_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gravatar_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "url": {
                                                                            "type": "string"
                                                                        },
                                                                        "html_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "followers_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "following_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gists_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "starred_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "subscriptions_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "organizations_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "repos_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "received_events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        },
                                                                        "site_admin": {
                                                                            "type": "boolean"
                                                                        }
                                                                    }
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "description": {},
                                                                "fork": {
                                                                    "type": "boolean"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                },
                                                                "forks_url": {
                                                                    "type": "string"
                                                                },
                                                                "keys_url": {
                                                                    "type": "string"
                                                                },
                                                                "collaborators_url": {
                                                                    "type": "string"
                                                                },
                                                                "teams_url": {
                                                                    "type": "string"
                                                                },
                                                                "hooks_url": {
                                                                    "type": "string"
                                                                },
                                                                "issue_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "assignees_url": {
                                                                    "type": "string"
                                                                },
                                                                "branches_url": {
                                                                    "type": "string"
                                                                },
                                                                "tags_url": {
                                                                    "type": "string"
                                                                },
                                                                "blobs_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_tags_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_refs_url": {
                                                                    "type": "string"
                                                                },
                                                                "trees_url": {
                                                                    "type": "string"
                                                                },
                                                                "statuses_url": {
                                                                    "type": "string"
                                                                },
                                                                "languages_url": {
                                                                    "type": "string"
                                                                },
                                                                "stargazers_url": {
                                                                    "type": "string"
                                                                },
                                                                "contributors_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscribers_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscription_url": {
                                                                    "type": "string"
                                                                },
                                                                "commits_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_commits_url": {
                                                                    "type": "string"
                                                                },
                                                                "comments_url": {
                                                                    "type": "string"
                                                                },
                                                                "issue_comment_url": {
                                                                    "type": "string"
                                                                },
                                                                "contents_url": {
                                                                    "type": "string"
                                                                },
                                                                "compare_url": {
                                                                    "type": "string"
                                                                },
                                                                "merges_url": {
                                                                    "type": "string"
                                                                },
                                                                "archive_url": {
                                                                    "type": "string"
                                                                },
                                                                "downloads_url": {
                                                                    "type": "string"
                                                                },
                                                                "issues_url": {
                                                                    "type": "string"
                                                                },
                                                                "pulls_url": {
                                                                    "type": "string"
                                                                },
                                                                "milestones_url": {
                                                                    "type": "string"
                                                                },
                                                                "notifications_url": {
                                                                    "type": "string"
                                                                },
                                                                "labels_url": {
                                                                    "type": "string"
                                                                },
                                                                "releases_url": {
                                                                    "type": "string"
                                                                },
                                                                "deployments_url": {
                                                                    "type": "string"
                                                                },
                                                                "created_at": {
                                                                    "type": "string"
                                                                },
                                                                "updated_at": {
                                                                    "type": "string"
                                                                },
                                                                "pushed_at": {
                                                                    "type": "string"
                                                                },
                                                                "git_url": {
                                                                    "type": "string"
                                                                },
                                                                "ssh_url": {
                                                                    "type": "string"
                                                                },
                                                                "clone_url": {
                                                                    "type": "string"
                                                                },
                                                                "svn_url": {
                                                                    "type": "string"
                                                                },
                                                                "homepage": {},
                                                                "size": {
                                                                    "type": "integer"
                                                                },
                                                                "stargazers_count": {
                                                                    "type": "integer"
                                                                },
                                                                "watchers_count": {
                                                                    "type": "integer"
                                                                },
                                                                "language": {},
                                                                "has_issues": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_projects": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_downloads": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_wiki": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_pages": {
                                                                    "type": "boolean"
                                                                },
                                                                "forks_count": {
                                                                    "type": "integer"
                                                                },
                                                                "mirror_url": {},
                                                                "archived": {
                                                                    "type": "boolean"
                                                                },
                                                                "disabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "open_issues_count": {
                                                                    "type": "integer"
                                                                },
                                                                "license": {},
                                                                "forks": {
                                                                    "type": "integer"
                                                                },
                                                                "open_issues": {
                                                                    "type": "integer"
                                                                },
                                                                "watchers": {
                                                                    "type": "integer"
                                                                },
                                                                "default_branch": {
                                                                    "type": "string"
                                                                },
                                                                "allow_squash_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_merge_commit": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_rebase_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "delete_branch_on_merge": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "_links": {
                                                    "type": "object",
                                                    "properties": {
                                                        "self": {
                                                            "type": "object",
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "html": {
                                                            "type": "object",
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "issue": {
                                                            "type": "object",
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "comments": {
                                                            "type": "object",
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "review_comments": {
                                                            "type": "object",
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "review_comment": {
                                                            "type": "object",
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "commits": {
                                                            "type": "object",
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "statuses": {
                                                            "type": "object",
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "author_association": {
                                                    "type": "string"
                                                },
                                                "draft": {
                                                    "type": "boolean"
                                                },
                                                "merged": {
                                                    "type": "boolean"
                                                },
                                                "mergeable": {},
                                                "rebaseable": {},
                                                "mergeable_state": {
                                                    "type": "string"
                                                },
                                                "merged_by": {},
                                                "comments": {
                                                    "type": "integer"
                                                },
                                                "review_comments": {
                                                    "type": "integer"
                                                },
                                                "maintainer_can_modify": {
                                                    "type": "boolean"
                                                },
                                                "commits": {
                                                    "type": "integer"
                                                },
                                                "additions": {
                                                    "type": "integer"
                                                },
                                                "deletions": {
                                                    "type": "integer"
                                                },
                                                "changed_files": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "repository": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "full_name": {
                                                    "type": "string"
                                                },
                                                "private": {
                                                    "type": "boolean"
                                                },
                                                "owner": {
                                                    "type": "object",
                                                    "properties": {
                                                        "login": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "avatar_url": {
                                                            "type": "string"
                                                        },
                                                        "gravatar_id": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        },
                                                        "html_url": {
                                                            "type": "string"
                                                        },
                                                        "followers_url": {
                                                            "type": "string"
                                                        },
                                                        "following_url": {
                                                            "type": "string"
                                                        },
                                                        "gists_url": {
                                                            "type": "string"
                                                        },
                                                        "starred_url": {
                                                            "type": "string"
                                                        },
                                                        "subscriptions_url": {
                                                            "type": "string"
                                                        },
                                                        "organizations_url": {
                                                            "type": "string"
                                                        },
                                                        "repos_url": {
                                                            "type": "string"
                                                        },
                                                        "events_url": {
                                                            "type": "string"
                                                        },
                                                        "received_events_url": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "site_admin": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "description": {},
                                                "fork": {
                                                    "type": "boolean"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "forks_url": {
                                                    "type": "string"
                                                },
                                                "keys_url": {
                                                    "type": "string"
                                                },
                                                "collaborators_url": {
                                                    "type": "string"
                                                },
                                                "teams_url": {
                                                    "type": "string"
                                                },
                                                "hooks_url": {
                                                    "type": "string"
                                                },
                                                "issue_events_url": {
                                                    "type": "string"
                                                },
                                                "events_url": {
                                                    "type": "string"
                                                },
                                                "assignees_url": {
                                                    "type": "string"
                                                },
                                                "branches_url": {
                                                    "type": "string"
                                                },
                                                "tags_url": {
                                                    "type": "string"
                                                },
                                                "blobs_url": {
                                                    "type": "string"
                                                },
                                                "git_tags_url": {
                                                    "type": "string"
                                                },
                                                "git_refs_url": {
                                                    "type": "string"
                                                },
                                                "trees_url": {
                                                    "type": "string"
                                                },
                                                "statuses_url": {
                                                    "type": "string"
                                                },
                                                "languages_url": {
                                                    "type": "string"
                                                },
                                                "stargazers_url": {
                                                    "type": "string"
                                                },
                                                "contributors_url": {
                                                    "type": "string"
                                                },
                                                "subscribers_url": {
                                                    "type": "string"
                                                },
                                                "subscription_url": {
                                                    "type": "string"
                                                },
                                                "commits_url": {
                                                    "type": "string"
                                                },
                                                "git_commits_url": {
                                                    "type": "string"
                                                },
                                                "comments_url": {
                                                    "type": "string"
                                                },
                                                "issue_comment_url": {
                                                    "type": "string"
                                                },
                                                "contents_url": {
                                                    "type": "string"
                                                },
                                                "compare_url": {
                                                    "type": "string"
                                                },
                                                "merges_url": {
                                                    "type": "string"
                                                },
                                                "archive_url": {
                                                    "type": "string"
                                                },
                                                "downloads_url": {
                                                    "type": "string"
                                                },
                                                "issues_url": {
                                                    "type": "string"
                                                },
                                                "pulls_url": {
                                                    "type": "string"
                                                },
                                                "milestones_url": {
                                                    "type": "string"
                                                },
                                                "notifications_url": {
                                                    "type": "string"
                                                },
                                                "labels_url": {
                                                    "type": "string"
                                                },
                                                "releases_url": {
                                                    "type": "string"
                                                },
                                                "deployments_url": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "pushed_at": {
                                                    "type": "string"
                                                },
                                                "git_url": {
                                                    "type": "string"
                                                },
                                                "ssh_url": {
                                                    "type": "string"
                                                },
                                                "clone_url": {
                                                    "type": "string"
                                                },
                                                "svn_url": {
                                                    "type": "string"
                                                },
                                                "homepage": {},
                                                "size": {
                                                    "type": "integer"
                                                },
                                                "stargazers_count": {
                                                    "type": "integer"
                                                },
                                                "watchers_count": {
                                                    "type": "integer"
                                                },
                                                "language": {},
                                                "has_issues": {
                                                    "type": "boolean"
                                                },
                                                "has_projects": {
                                                    "type": "boolean"
                                                },
                                                "has_downloads": {
                                                    "type": "boolean"
                                                },
                                                "has_wiki": {
                                                    "type": "boolean"
                                                },
                                                "has_pages": {
                                                    "type": "boolean"
                                                },
                                                "forks_count": {
                                                    "type": "integer"
                                                },
                                                "mirror_url": {},
                                                "archived": {
                                                    "type": "boolean"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "open_issues_count": {
                                                    "type": "integer"
                                                },
                                                "license": {},
                                                "forks": {
                                                    "type": "integer"
                                                },
                                                "open_issues": {
                                                    "type": "integer"
                                                },
                                                "watchers": {
                                                    "type": "integer"
                                                },
                                                "default_branch": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "sender": {
                                            "type": "object",
                                            "properties": {
                                                "login": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "avatar_url": {
                                                    "type": "string"
                                                },
                                                "gravatar_id": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "followers_url": {
                                                    "type": "string"
                                                },
                                                "following_url": {
                                                    "type": "string"
                                                },
                                                "gists_url": {
                                                    "type": "string"
                                                },
                                                "starred_url": {
                                                    "type": "string"
                                                },
                                                "subscriptions_url": {
                                                    "type": "string"
                                                },
                                                "organizations_url": {
                                                    "type": "string"
                                                },
                                                "repos_url": {
                                                    "type": "string"
                                                },
                                                "events_url": {
                                                    "type": "string"
                                                },
                                                "received_events_url": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "site_admin": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition_2": {
                            "actions": {
                                "Send_SMS_2": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "from": "+18443253976",
                                            "message": "@variables('Message')",
                                            "sendSmsOptions": {
                                                "enableDeliveryReport": false
                                            },
                                            "to":[
                                                "+15204401252"
                                            ]
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurecommunicationservicessms']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/sms"
                                    }
                                }
                            },
                            "runAfter": {
                                "Default_SendSms_Disabled": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "or": [
                                    {
                                        "equals": [
                                            "@variables('SendSms')",
                                            true
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_Message": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Message",
                                        "type": "string",
                                        "value": "@triggerBody()?['message']"
                                    }
                                ]
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Default_SendSms_Disabled": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{variables('Message')}<br>\n</p>",
                                    "Subject": "Event was triggered",
                                    "To": "leo.przybylski@optum.com"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Default_SendSms_Disabled": {
                            "runAfter": {
                                "Initialize_Message": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SendSms",
                                        "type": "boolean", 
                                        "value": false
                                    }
                                ]
                            }
                        },
                        "Update_Pluto_Notifications_Channel": {
                            "runAfter": {
                                "Default_SendSms_Disabled": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": {
                                        "content": "<p>@{variables('Message')}</p>",
                                        "contentType": "html"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$conneections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v3/beta/teams/@{encodeURIComponent('b6ce1a32-ad9a-45e2-a1af-36c6bcd95b9d')}/channels/@{encodeURIComponent('1929cbad13274a4f8488b0687999d07660@thread.tacv2')}/messages"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurecommunicationservicessms": {
                                "connectionId": "[variables('connections_sms_service_externalid')]",
                                "connectionName": "azurecommunicationservicessms",
                                "id": "[variables('connections_sms_service_id')]"
                            },
                            "office365": {
                                "connectionId": "[variables('connections_office365_service_externalid')]",
                                "connectionName": "office365",
                                "id": "[variables('connections_office365_service_id')]"
                            },
                            "teams": {
                                "connectionId": "[variables('connections_teams_service_externalid')]",
                                "connectionName": "teams",
                                "id": "[variables('connections_teams_service_id')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}